html, body {
	height: 100%;
	width: 100%;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	position: relative;
}
body {
	font-size: 1.7em;
	font-family: "Varela Round", arial, sans-serif;
}
p {
	font-family: "Lato", arial, sans-serif;
	line-height: 1.8em;
}
a, a:hover {
	text-decoration: none;
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	transition-duration: 0.4s;
}
.affix-top {
	background: transparent;
}
.affix {
	background: #F7760A;
	width: 100%
}
.blue-color {
	background:rgb(13, 180, 233)
}
.navbar {
	min-height: 75px
}
.nav {
	padding-top: 13px
}
.nav a {
	color: #FFFFFF;
}
.nav li a:hover, .nav li a:focus, .nav li a:active, .nav li a:focus {
	color: black;
	background: transparent;
}
.nav .btn-success {
	margin: 10px 0;
	background-color: #1abc9c;
	border-color: #1abc9c;
	padding-top: 5px;
	padding-bottom: 5px;
}
.nav .btn-success:hover {
	background-color: #40B59E;
	border-color: #40B59E;
}
.navbar-brand span {
	margin-left: 5px;
	font-size: 1.2em;
	font-weight: bold;
	color: #761E36;
}
.navbar-brand > img {
	display: inline-block;
}

.section-padding {
	padding-top: 80px;
	padding-bottom: 60px;
}
.section-head {
	margin-top: 0px;
	margin-bottom: 100px;
}
.section-title {
	color: #0d0d0d;
	font-size: 3.4375em;
	font-weight: 900;
	line-height: 54px;
	text-align: right;
	text-transform: uppercase;
	width: 320px;
	float: left;
	margin: 0;
	padding-top: 4px;
	padding-right: 35px;
	position: relative;
	-webkit-text-stroke: 0.3px;
}
.section-title:after {
	position: absolute;
	width: 20px;
	height: 43px;
	background-color: #f39c12;
	content: "";
	top: 7px;
	right: 0px;
	margin-left: 0px;
}
.section-description {
	color: #404040;
	font-weight: 300;
	text-transform: uppercase;
	line-height: 25px;
	margin-left: 340px;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke: 0.1px;
	letter-spacing: 1px
}
.icon-bar {
	padding: 25px;
	height: 100px;
	width: 100px;
	border-radius: 100px;
	background: yellow;
	text-align: center;
}
.lead {
	margin-top:10px
}

/*
 Fade content carousel with hero headers
 */

/********************************/
/*       Fade carousel       */
/********************************/
.fade-carousel {
	position: relative;
	height: 100vh;
}
.fade-carousel .carousel-inner .item {
	height: 100vh;
}
.fade-carousel .carousel-indicators > li {
	margin: 0 2px;
	background-color: #f39c12;
	border-color: #f39c12;
	opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
	width: 10px;
	height: 10px;
	opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
	position: absolute;
	top: 40%;
	left: 50%;
	z-index: 3;
	color: #fff;
	text-align: left;
	text-shadow: 1px 1px 0 rgba(0,0,0,.75);
	-webkit-transform: translate3d(-50%,-50%,0);
	-moz-transform: translate3d(-50%,-50%,0);
	-ms-transform: translate3d(-50%,-50%,0);
	-o-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}
.hero h1 {
	font-size: 4em;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
	opacity: 0;
	-webkit-transition: 2s all ease-in-out .1s;
	-moz-transition: 2s all ease-in-out .1s;
	-ms-transition: 2s all ease-in-out .1s;
	-o-transition: 2s all ease-in-out .1s;
	transition: 2s all ease-in-out .1s;
}
.fade-carousel .carousel-inner .item.active .hero {
	opacity: 1;
	-webkit-transition: 2s all ease-in-out .1s;
	-moz-transition: 2s all ease-in-out .1s;
	-ms-transition: 2s all ease-in-out .1s;
	-o-transition: 2s all ease-in-out .1s;
	transition: 2s all ease-in-out .1s;
}
/********************************/
/*           Animate            */
/********************************/

/********************************/
/*            Overlay           */
/********************************/
.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	background-color: #080d15;
	opacity: .4;
}

/********************************/
/*          Carousel Buttons      */
/********************************/
.carousel-control.left, .carousel-control.right {
	z-index: 3;
	background-image: none
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {
	padding: 10px 40px;
}
.btn.btn-hero, .btn.btn-hero:hover, .btn.btn-hero:focus {
	color: #f5f5f5;
	background-color: #1abc9c;
	border-color: #1abc9c;
	outline: none;
	margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, .fade-carousel .slides .slide-2, .fade-carousel .slides .slide-3 {
	height: 100vh;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
	background-image: url('../img/slide-image-1.jpg');
}
.fade-carousel .slides .slide-2 {
	background-image: url('../img/slide-image-2.jpg');
}
.fade-carousel .slides .slide-3 {
	background-image: url('../img/slide-image-3.jpg');
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px) {
	.hero {
		width: 980px;
	}
}
@media screen and (max-width: 640px) {
	.hero h1 {
		font-size: 4em;
	}
}
@media screen and (max-width: 768px) {
	.section-title {
		text-align: left;
		float: none;
		width: inherit;
		display: inline-block;
		padding-right: 0px;
		padding-bottom: 30px;
	}
	.section-title:after {
		width: 100%;
		height: 10px;
		top: inherit;
		bottom: 20px;
	}
	.section-description {
		margin-left: 0;
	}
}
